.container {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .container {
        margin-top: 130px;
    }
}

.tableContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}