@import "../../globalStyles/variables.css";

.container {
    padding: 16px;
    border-radius: 4px;
    background-color: var(--primary-white);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}