.colleagueCardTable {
    width: 300px;
    margin-bottom: 16px;
    border: 1px solid #949494;
    padding: 10px 10px 24px 10px;
}

.colleagueCardList {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.descriptionWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    flex-grow: 1;
}

.socialLink:hover {
    opacity: 0.8;
}

.socialsWrap {
    display: flex;
}

.socialsWrap>a:not(:first-child) {
    margin-left: 5px;
}

.nameWrap {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.nameWrap>span:nth-child(2) {
    margin-top: 10px;
}

.avatarListView {
    width: 40px;
    margin-right: 16px;
}